.mask-custom {
  backdrop-filter: contrast(110%) brightness(110%) saturate(30%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(100%) blur(4px);
  mix-blend-mode: screen;
  background: rgba(243, 106, 188, 0.3);
  opacity: 1;
  filter: blur(4px);
}
