.nav-link.active {
  color: #17a2b8; /* Couleur infos */
}
.icon-active {
  color: #17a2b8; /* Couleur infos */
}
.icon-colored {
  color: #17a2b8; /* Couleur infos */
}

.text-colored{
  color: #17a2b8;
}
