<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-colored" href="#">
      <i class="bi bi-bank fs-3 icon-colored"></i> E-bank
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/home')}" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/customers')}" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isActive('/operations')}" routerLink="/operations">Operations</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/auth">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
